:local(.layout)
	color red

:local(.default)

	.active-tab
		color #2a2786 !important
		font-weight bold

	.vertical-container
		// display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		margin-top 10px
