module.exports =
	envName: 'test'
	upload:
		user:
			accessKeyId: 'xxx'
			secretAccessKey: 'xxx'
		bucket:
			name: 'staging.masstodon.com'
			region: 'us-west-2'
			signatureVersion: 'v4'
			ACL: 'public-read'
